.wishlist-list {
    position: absolute;
    left: 0;
    top: 0;
    padding: 16px;
    z-index: 1;
    background: white;
    border: 1px solid #C22539;
    
    li {
        list-style: none;
        text-align: end;
    }
}